page-add-appointment {
    ion-input{
        margin: 15px;
        width: 95%;
        border: 1px;    
        border-color: #488aff;
        border-style: solid;
        border-radius: 7px;     
        padding: 10px;
        font-size: 15px;
    }
}
